*{
    background-color: #6e9f7c;;
}
.center{
    justify-content: center;
    text-align: center;
}
.form_deg{
    padding-top: 200px;
}
label{
    display: inline-block;
    color: black;
    width: 100px;
    text-align: right;
    padding-top:10px ;
    padding-bottom: 10px;
}
.btn{
    justify-content: center;
    position: relative;
    width: 10%;
    left: 2%;
}