.body_deg{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.center{
    justify-content: center;
    text-align: center;
}
.form_deg{
   padding-left: 500px;
    padding-top: 200px;
}
.label_deg{
    display: inline-block;
    color: white;
    width: 100px;
    text-align: right;
    padding-top:10px ;
    padding-bottom: 10px;
}
.login_form{
    background-color: black;
    width: 400px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.btn{
    justify-content: center;
    position: relative;
    width: 15%;
    left: 2%;
}
.title_deg{
    background-color: skyblue;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}